<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">
    <i class="material-icons d-inline-block align-top text-default" width="40" height="40">
      book
    </i>
    LibRepo
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-2" style="margin-top: 60px">
  <div class="row">
    <!-- BOOKS -->
  <div class="col-md-6">
      <div class="single-book text-muted mt-2" id="bookUID">
        <div class="container-fluid">
          <div class="row book-image">
            <div class="flex-col book-image float-left">
              <img src="../../assets/book.jpg" alt="Book Image">
            </div>
            <div class="col">
              <div class="container">
                <div class="row">
                  <h4 class="flex book-title m-0">Becoming Hardcover</h4>
                  <p class="author"><small>by <b>Name Surname</b></small></p>
                  <p class="ml-auto"><small><b>Sep 1, 1990</b></small></p>
                </div>
                <div class="row">
                  <small class="text-dark short-description mt-2">WINNER OF THE NEBULA AWARD FOR BEST NOVEL • Naomi
                    Novik, author of the New York Times bestselling and critically acclaimed Temeraire novels, introduces
                    a bold new world rooted in folk stories and legends, as elemental as a Grimm fairy tale.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-2 see-more-btn">
          <div class="row">
            <button class="w-100 btn btn-sm btn-dark">
              <small>See More</small>
            </button>
          </div>
        </div>
      </div>
      <div class="single-book text-muted mt-2" id="bookUID">
        <div class="container-fluid">
          <div class="row book-image">
            <div class="flex-col book-image float-left">
              <img src="../../assets/book.jpg" alt="Book Image">
            </div>
            <div class="col">
              <div class="container">
                <div class="row">
                  <h4 class="flex book-title m-0">Becoming Hardcover</h4>
                  <p class="author"><small>by <b>Name Surname</b></small></p>
                  <p class="ml-auto"><small><b>Sep 1, 1990</b></small></p>
                </div>
                <div class="row">
                  <small class="text-dark short-description mt-2">WINNER OF THE NEBULA AWARD FOR BEST NOVEL • Naomi
                    Novik, author of the New York Times bestselling and critically acclaimed Temeraire novels, introduces
                    a bold new world rooted in folk stories and legends, as elemental as a Grimm fairy tale.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-2 see-more-btn">
          <div class="row">
            <button class="w-100 btn btn-sm btn-dark">
              <small>See More</small>
            </button>
          </div>
        </div>
      </div>
      <div class="single-book text-muted mt-2" id="bookUID">
        <div class="container-fluid">
          <div class="row book-image">
            <div class="flex-col book-image float-left">
              <img src="../../assets/book.jpg" alt="Book Image">
            </div>
            <div class="col">
              <div class="container">
                <div class="row">
                  <h4 class="flex book-title m-0">Becoming Hardcover</h4>
                  <p class="author"><small>by <b>Name Surname</b></small></p>
                  <p class="ml-auto"><small><b>Sep 1, 1990</b></small></p>
                </div>
                <div class="row">
                  <small class="text-dark short-description mt-2">WINNER OF THE NEBULA AWARD FOR BEST NOVEL • Naomi
                    Novik, author of the New York Times bestselling and critically acclaimed Temeraire novels, introduces
                    a bold new world rooted in folk stories and legends, as elemental as a Grimm fairy tale.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-2 see-more-btn">
          <div class="row">
            <button class="w-100 btn btn-sm btn-dark">
              <small>See More</small>
            </button>
          </div>
        </div>
      </div>
      <div class="single-book text-muted mt-2" id="bookUID">
        <div class="container-fluid">
          <div class="row book-image">
            <div class="flex-col book-image float-left">
              <img src="../../assets/book.jpg" alt="Book Image">
            </div>
            <div class="col">
              <div class="container">
                <div class="row">
                  <h4 class="flex book-title m-0">Becoming Hardcover</h4>
                  <p class="author"><small>by <b>Name Surname</b></small></p>
                  <p class="ml-auto"><small><b>Sep 1, 1990</b></small></p>
                </div>
                <div class="row">
                  <small class="text-dark short-description mt-2">WINNER OF THE NEBULA AWARD FOR BEST NOVEL • Naomi
                    Novik, author of the New York Times bestselling and critically acclaimed Temeraire novels, introduces
                    a bold new world rooted in folk stories and legends, as elemental as a Grimm fairy tale.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-2 see-more-btn">
          <div class="row">
            <button class="w-100 btn btn-sm btn-dark">
              <small>See More</small>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- MORE INFORMATION ABOUT BOOK -->
    <div class="col-md-6 fixed-top ml-auto book-container">
      <div class="book-info">
        <div class="container">
            <div class="row">
              <h5 class="" id="book-title">
                  1 edition of The Commander (The Guardians) found in the catalog.</h5>
            </div>
            <div class="row mt-2 p-2 border-bottom">
                <div class="flex-col">
                  <img src="../../assets/book-full.jpg" alt="Book-Image">
                </div>
                <div class="col">
                    <h4 class="flex book-title m-0">The Commander (The Guardians)</h4>
                    <p class="author"><small>by <b>Name Surname</b></small></p>
                    <p class="ml-auto"><small>Published March 1, 2001 by Harlequin . <br>
                        Written in English.</small></p>
                    <div class="cat">
                        <p>CATEGORY</p>
                        <p class="font-weight-bold text-primary" id="category">In library</p>
                    </div>

                </div>
              </div>
              <div class="row m-2">
                <h3>Book Preview</h3>
                <p>
                    “Our Dragon doesn’t eat the girls he takes, no matter what stories they tell outside our valley. We hear them sometimes, from travelers passing through. They talk as though we were doing human sacrifice, and he were a real dragon. Of course that’s not true: he may be a wizard and immortal, but he’s still a man, and our fathers would band together and kill him if he wanted to eat one of us every ten years. He protects us against the Wood, and we’re grateful, but not that grateful.”

                    Agnieszka loves her valley home, her quiet village, the forests and the bright shining river. But the corrupted Wood stands on the border, full of malevolent power, and its shadow lies over her life.
                    
                    Her people rely on the cold, driven wizard known only as the Dragon to keep its powers at bay. But he demands a terrible price for his help: one young woman handed over to serve him for ten years, a fate almost as terrible as falling to the Wood.
                    
                    The next choosing is fast approaching, and Agnieszka is afraid. She knows—everyone knows—that the Dragon will take Kasia: beautiful, graceful, brave Kasia, all the things Agnieszka isn’t, and her dearest friend in the world. And there is no way to save her.
                    
                    But Agnieszka fears the wrong things. For when the Dragon comes, it is not Kasia he will choose.
                    
                </p>
                
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
