<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">
    <i class="material-icons d-inline-block align-top text-default" width="40" height="40">
      book
    </i>
    LibRepo
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="btn btn-sm btn-danger" href="#">Secure Logout</button>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Welcome Admin !</a>
      </li>
      <li class="nav-item" id=profile-image-admin>
        <button>
          <img src="../../assets/admin.png" alt="admin-image" class="material-icons d-inline-block align-top text-default"
            width="40" height="40" />
        </button>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="margin-top: 70px">
  <div class="row">
    <div class="col-md-6">
      <div class="functionalities">
        <div class="row">
          <button class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
            Add Book
          </button>
          <!-- Modal -->
          <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="add-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ADD NEW BOOK</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="was-validated">
                    <div class="form-group">
                      <input type="text" class="form-control" id="title" #setTitle placeholder="Book title" value="" required>
                      <div class="invalid-feedback">Required to inset the book title !</div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="author" #setAuthor placeholder="Book Author" value="" required>
                        <div class="invalid-feedback">Book Author ?</div>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="category" #setCategory placeholder="e.g SF" value="" required>
                        <div class="invalid-feedback">What is the book category ?</div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="date" #setDate placeholder="Date e.g 21/2/2017" value=""
                          required>
                        <div class="invalid-feedback">The date published ?</div>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="language" #setLanguage placeholder="e.g English" value=""
                          required>
                        <div class="invalid-feedback">What is the book language ?</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <textarea type="text" class="form-control" id="description" #setDescription placeholder="Please insert the description of the book !"
                        value="" required></textarea>
                      <div class="invalid-feedback"></div>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                      <label class="custom-file-label" for="validatedCustomFile">Book cover image...</label>
                      <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="buuton" class="btn btn-primary" (click)="AddBook(setTitle.value, setAuthor.value, setCategory.value, setDate.value, setLanguage.value,setDescription.value)">Add Book</button>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" data-toggle="modal" data-target="#edit-modal">
            Edit Book
          </button>
          <!-- Modal -->
          <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">EDIT BOOK</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="was-validated">
                    <div class="form-group">
                      <input type="text" class="form-control" id="title" placeholder="Book ID" #bookId value="" required>
                      <div class="invalid-feedback">Please find the book ID before making any changes !</div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="title" #updateTitle placeholder="Book title" value="">
                      <div class="invalid-feedback">Required to inset the book title !</div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="author" #updateAuthor placeholder="Book Author" value="">
                        <div class="invalid-feedback">Book Author ?</div>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="category" #updateCategory placeholder="e.g SF" value="">
                        <div class="invalid-feedback">What is the book category ?</div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="date" #updateDate placeholder="Date e.g 21/2/2017" value="">
                        <div class="invalid-feedback">The date published ?</div>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="language" #updateLanguage placeholder="e.g English" value="">
                        <div class="invalid-feedback">What is the book language ?</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <textarea type="text" class="form-control" id="description" #updateDescription placeholder="Please insert the description of the book !"
                        value=""></textarea>
                      <div class="invalid-feedback"></div>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="validatedCustomFile">
                      <label class="custom-file-label" for="validatedCustomFile">Book cover image...</label>
                      <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="buuton" class="btn btn-primary" (click)="editBook(bookId.value,updateTitle.value, updateAuthor.value, updateCategory.value, updateDate.value, updateLanguage.value,updateDescription.value)">Edit Book</button>
                </div>
              </div>
            </div>
          </div>


          <button class="btn btn-primary" data-toggle="modal" data-target="#delete-book">
            Delete Book
          </button>
          <!-- Modal -->
          <div class="modal fade" id="delete-book" tabindex="-1" role="dialog" aria-labelledby="delete-book"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">DELETE BOOK</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="was-validated">
                    <div class="form-group">
                      <input type="text" class="form-control" id="title" #deleteID placeholder="Book ID" value="" required>
                      <div class="invalid-feedback">Please find the book ID before making any changes !</div>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="radio" class="custom-control-input" id="checkbox" name="radio-stacked" required>
                      <label class="custom-control-label" for="checkbox">I want to delte this book...</label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                  <button type="buuton" class="btn btn-danger" (click)="deleteBook(deleteID.value)">DELETE BOOK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-reader></app-reader>
